# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# Data and secrets
*.env
.env.*
data/

# VSCode configs
.vscode/

# Jupyter/IPython
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
